body{
    background-image: url(image/village.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-style: italic;
}
#nav{
    text-align: start;
    font-size: 1.6em;

}
#myh1::first-letter{
    color:rgb(0, 243, 125);
}
#myh1{
    color:rgb(249, 15, 148);
    margin-left: 60px;
}
#nav h4{
    color:rgb(0, 243, 125);
}
#nav h4:hover{
    border-bottom:2px solid rgb(249, 15, 148) ;

}
#main {
    margin-top: 10%;
    margin-left:5%;
}

#main h1::first-line{
    color:rgb(5, 235, 28);
}
#main h1{
    color:rgb(249, 15, 148);
}
#main p{
    width:40%;
    color:white;
}
#search{
    background-color: white;
    width:fit-content;
    border: none;
    overflow: hidden;
    border-radius: 5px;
    height: 40px;

    
}
#search button{
    background-color: rgb(249, 15, 148);
    color:rgb(5, 235, 28);
    font-size: 1.2em;
    font-family:Arial;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    border:none;
}
#search input{
    height: 40px;
    width: 315px;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    border: none;
}
#search button:hover{
    color: rgb(249, 15, 148);
    background-color:rgb(5, 235, 28);

}
#nav button:hover{
    color: rgb(249, 15, 148);
    background-color:rgb(5, 235, 28);

}

#image{
    padding: 20px;
    width: 90%;
    text-align: center;
}
#image div{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    border:solid 2px rgb(249, 15, 148);
    margin: auto;
    margin-top: 5%;
}
#image div img {
    width: 100%;
    height:50%;
}
#section{
    width: auto;
}
#image p{
    width:90%;
}
#image h1{
    color:rgb(249, 15, 148);
}

.btn {
    font-size: 1.2em;
    font-weight: bold;
    padding:10px;
    font-style: normal;
    background-color: rgb(0, 243, 61);
    color:rgb(255, 6, 147);
    margin:10px;
    border:none;
    border-radius: 10px;

}

@media screen and (max-width: 800px) {
    #main {
        text-align: center;
        margin: auto;
    }
    #container h1 {
        margin-top: 20%;
    }
    #search{
        text-align: center;
        margin: auto;
        margin-top:40px;
    }
    #main p{
        width:100%;
        text-align: center;
        
    }
    #search input{
        width: 200px;
        font-size:1.3em ;
        font-weight: bold;
        font-style: italic;
        
    }

    #search button{
        width: fit-content;
    }
    #image div{
        width: 90%;
    }
    #image div img {
        width: 100%;
        height:100%;
    }
    #image div h2 {
        font-size: 1em;
    }
    #image p{
        width:100%;
        text-align: center;
    }
    #nav{
        font-size: 1.2em;
        text-align: center;

    }
    #myh1{
        font-size: 1.6em;
    }
    #main h1{
        font-size: 1.6em;
    }
    #image h1{
        font-size: 1.6em;
    }
    .btn {
        font-size: 1em;
    }
    
}